.add-button {
    display:flex;
    width: 490px;
    height: 50px;
    color: rgb(53, 113, 162);
    margin-left: 73%;
    margin-top: 3%
}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
.container{
    max-width: 1200px;
    margin: 0 auto;
}
  
  