<h1 mat-dialog-title>Agregar un nuevo club</h1>
<div mat-dialog-content>
    <form [formGroup]="clubForm">
        <mat-form-field appearance="outline">
            <mat-label>Nombre del club</mat-label>
            <input formControlName= "clubName" matInput placeholder="nombre">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Categoría</mat-label>
            <mat-select formControlName= "category" placeholder="categoria">
                <mat-option value="categoría">Categorías</mat-option>
                <mat-option value="artes">artes</mat-option>
                <mat-option value="deportes">deportes</mat-option>
                <mat-option value="idiomas">idiomas</mat-option>
                <mat-option value="otros">otros</mat-option>
              </mat-select>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Cerrar</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addClub()">Guardar</button>

</div>
