<form class="mainForm" fxLayout="column" fxLayoutAlign="space-around center" [formGroup]="userInfoForm">
    <div class="row">
        <label class="title">Datos Usuario</label>
    </div>
    <div class="row">
        <div class="row25">
           
            <label>Nombre</label>
        </div>
        <div class="row75">
            <div fxLayout="column" fxLayoutAlign="center flex-start" style="width:100%;">
                <input formControlName="name">
                <label  class="warning" *ngIf="userInfoForm.get('name').hasError('required')">El nombre es necesario</label>
            </div>
            
        </div>

    </div>
    <div class="row">
        <div class="row25">
            <label>Usuario</label>
        </div>
        <div class="row75">
            <div fxLayout="column" fxLayoutAlign="center flex-start" style="width:100%;">
                <input formControlName="user">
                <label class="warning" *ngIf="userInfoForm.get('user').hasError('required')">El usuario no puede ser vacio</label>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="row25">
            <label>Contraseña</label>
        </div>
        <div class="row75">
            <div fxLayout="column" fxLayoutAlign="center flex-start" style="width:100%;">
                <input type="password" formControlName="password">
                <label class="warning" *ngIf="userInfoForm.get('password').hasError('required')">La contraseña no puede ser vacia</label>
                <label class="warning" *ngIf="userInfoForm.get('password').hasError('minlength') && !userInfoForm.get('password').hasError('required')">La contraseña debe tener al menos 8 caracters</label>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="row25">
            <label>Sesión</label>
        </div>
        <div class="row75">
            <div fxLayout="column" fxLayoutAlign="center flex-start" style="width:100%;">
                <select formControlName="class">
                    <option>7A</option>
                    <option>7B</option>
                    <option>7C</option>
                    <option>8A</option>
                    <option>8B</option>
                    <option>8C</option>
                    <option>9A</option>
                    <option>9B</option>
                    <option>9C</option>
                </select>
                
            </div>
        </div>

    </div>
    <div class="row">
        <div class="row25">
            <label>Sede</label>
        </div>
        <div class="row75">
            <div fxLayout="column" fxLayoutAlign="center flex-start" style="width:100%;">
                <select formControlName="location">
                    <option>Lugar 1</option>
                    <option>Lugar 2</option>
                    <option>Lugar 3</option>
                </select>
                <label class="warning" *ngIf="userInfoForm.get('location').hasError('required')">Debe elegir una sede</label>
                
            </div>
        </div>
        
    </div>
    
</form>
