<form class="mainForm" fxLayout="column" fxLayoutAlign="space-around center">
    <div class="row">
        <label class="title">Datos Usuario</label>
    </div>
    <div class="row">
        <div class="row25">
           
            <label>Nombre</label>
        </div>
        <div class="row75">
            <div fxLayout="column" fxLayoutAlign="center flex-start" style="width:100%;">
                <input>
                <label class="warning">Correc</label>
            </div>
            
        </div>

    </div>
    <div class="row">
        <div class="row25">
            <label>Hola</label>
        </div>
        <div class="row75">
            <div fxLayout="column" fxLayoutAlign="center flex-start" style="width:100%;">
                <input>
                <label class="warning">Correc</label>
            </div>
        </div>

    </div>
</form>
